.repair__caption {
  margin: 12px 0 0;
  color: #47474c;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

@media screen and (max-width: 768px) {
  .repair__caption {
    margin-top: 10px;
  }
}
