.page {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  background-color: $colorBackground;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $colorPrimaryText;
  box-sizing: border-box;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
