.repair__input-email {
  margin: 0;
  display: inline-block;
  width: 316px;
  height: 24px;
  padding: 13px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: .38px;
  color: $colorPrimaryText;
  background-color: rgba(142, 142, 152, 0.2);
  background-clip: padding-box;
  border: 0;
  border-radius: 8px 0 0 8px;
  cursor: pointer;
  /*  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */

  &:focus {
    cursor: auto;
    background-color: rgba(142, 142, 152, 0.3);
    border-color: #bdbdbd;
    outline: 0;
  }
}


