.repair__input-email {
  margin: 0;
  display: inline-block;
  min-width: 316px;
  padding: 13px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: .38px;
  color: $colorPrimaryText;
  background-color: rgba(142, 142, 152, 0.2);
  background-clip: padding-box;
  border: 0;
  border-radius: 8px 0 0 8px;
  cursor: pointer;

  &:focus {
    cursor: auto;
    background-color: rgba(142, 142, 152, 0.3);
    border-color: #bdbdbd;
    outline: 0;
  }
}

@media screen and (max-width: 767px) {
  .repair__input-email {
    min-width: min(395px, calc(100% - 150px));
  }
}

@media screen and (max-width: 567px) {
  .repair__input-email {
    min-width: 197px;
    height: 38px;
    padding: 6px 16px;
  }
}
