.guarantee__text {
  font-size: 15px;
  font-weight: $fontWeigthRegular;
  line-height: 19px;
  color: $colorSecondaryText;
  padding: 38px 20px 20px;
  margin: 0;

  @include _567 {
    font-size: 12px;
    line-height: 18px;
    padding-top: 36px;
  }
}
