.guarantee__item {
  width: 265px;
  border-radius: 10px;
  background-color: $colorCards;
  transition: .15s linear;

  &:hover {
    background-color: $colorHoverCards;
  }
}

@media screen and (max-width: 768px) {
  .guarantee__item {
    flex-grow: 1;
  }
}

@media screen and (max-width: 567px) {
  .guarantee__item {
    min-width: 280px;
    min-height: 148px;
  }
}
