.description__text {
  color: $colorSecondaryText;
  font-size: 32px;
  font-weight: $fontWeigthRegular;
  line-height: 40px;
  margin: 0 auto 60px;

  @include _768 {
    font-size: 20px;
    line-height: 30px;
  }

  @include _567 {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 20px;
  }
}
