.support__button {
  cursor: pointer;
  border: 0px;
  background-color: #47474c;
  color: $colorPrimaryText;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .38px;
  text-align: center;
  margin: 90px 0 0;
  border-radius: 8px;
  padding: 13px 30px;
  transition: opacity .2s linear;

  &:hover {
    opacity: .9;
  }

  @include _768 {
    margin-top: 80px;
  }

  @include _567 {
    margin-top: 50px;
    padding: 16px 33px;
    font-size: 12px;
    line-height: 18px;
  }
}
