.footer__copyright {
  display: flex;
  align-items: flex-end;
  margin: 0;
  font-size: 12px;
  font-weight: $fontWeigthRegular;
  line-height: 18px;
  color: #47474c;

  @include _768 {
    align-items: flex-start;
    margin-top: 60px;
  }

  @include _567 {
    margin-top: 40px;
  }
}
