.button {
  content: "";
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  border: 0px;
  background-color: #47474c;
  color: $colorPrimaryText;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .38px;
  text-align: center;
  margin: 0;
  padding: 13px 16px;

  &::before {
    content: 'Отремонтируйте камеру ✌️';
  }
}

@media screen and (max-width: 719px) {
  .button {
    padding: 10px 20px;
    height: 50px;

    &::before {
      content: '✌️';
    }
  }
}
